body{margin:0;font-family:Arial;background:#f5f7fa}
header{background:#1A365D;color:#fff;text-align:center;padding:20px}
nav {
    background: rgba(26, 54, 93, 0.90);
    padding: 15px 30px;
    border-radius: 20px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 8px 15px;
    border-radius: 12px;
}
nav a:hover {
    background: #537db9;
    color: #fff;
    transform: translateY(-2px);
}
form{width:80%;margin:20px auto;display:flex;flex-direction:column;gap:10px;background:#fff;padding:20px;border-radius:10px}
input,textarea{padding:10px;border:1px solid #CBD5E0;border-radius:5px}
button{background:#2B4C7E;color:#fff;padding:10px;border:none;border-radius:5px;cursor:pointer}
button:hover{background:#1A365D}
footer{background:#1A365D;color:#fff;text-align:center;padding:15px;margin-top:20px}